body {
  background-color: #510552;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(images/bigbkgrdbowie3.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-attachment: fixed;
  height: 120vh;
}
@font-face {
    font-family: Belladona;
    src: local(Belladona), url('fonts/Belladona.ttf') format('truetype');
}
@font-face {
    font-family: Belladona;
    src: local(Belladona), url('fonts/Belladona.otf') format('opentype');
}
/*#play {
  background: transparent;
  border: none;
  position: relative;
  margin: 0 auto;
  width: 50%;
}
button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover{
    border:none !important;
    outline:none !important;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    list-style-type: none;
    width: 100%;
    height:330px;
    position: absolute;
    margin: 0 auto;
    cursor: url(images/bowie_cursor01.png), auto;
}
/*TRAPEZOID CUSTOM SHAPE*/


.wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.title-bar {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  font-family: Belladona;
  color: white;
  font-size: 4.5em;
  margin-top: 1em;
}
.subtitle {
  font-size: .8em;
  color: white;
  font-style: italic;
  font-family: Century Gothic;
  margin:0 auto;
  text-align: center;
}
.eight {
  font-size: 2.5em;
}
.trapezoid-container {
   display: flex;
   position: relative;
   flex-direction: column;
   flex-wrap: nowrap;
   /*background-image: url('images/triangle.png');*/
   height: 331px;
   width: 331px;
   margin: 0 auto;
   cursor: url(images/bowie_cursor01.png), auto;
   background-image: url(images/face-v2.png);
 }

.lyric-container {
    margin: 0 auto;
    position:absolute;
    text-align: center;
    top: 93px;
    left: 86px;
    color: white;
    font-family: Century Gothic, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.7em;
    line-height: 1em;
    -webkit-shape-inside: url('images/face-v2mask.png');
            shape-inside: url('images/face-v2mask.png');
    -webkit-shape-margin: 3px;
    max-height: 350px !important;
    width: 48%;
}
.shake.freez.shake-crazy {
  margin: 0 auto;
  outline: none;
  border: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 350px;

}
.shake.freez.shake-crazy:hover {
  -webkit-animation-name: shake-crazy;
  -ms-animation-name: shake-crazy;
  animation-name: shake-crazy;
  -webkit-animation-duration: 500ms;
  -ms-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}


@-webkit-keyframes shake-crazy { 0% { -webkit-transform: translate(0px, 0px) rotate(0deg); opacity: 0.9; }
  10% { -webkit-transform: translate(-5px, -5px) rotate(-10deg); opacity: 0.3; }
  20% { -webkit-transform: translate(18px, -17px) rotate(-5deg); opacity: 0; }
  30% { -webkit-transform: translate(-15px, 2px) rotate(-3deg); opacity: 0.8; }
  40% { -webkit-transform: translate(-9px, -4px) rotate(3deg); opacity: 0.6; }
  50% { -webkit-transform: translate(17px, -7px) rotate(-5deg); opacity: 0.6; }
  60% { -webkit-transform: translate(-20px, 10px) rotate(-3deg); opacity: 0.6; }
  70% { -webkit-transform: translate(-18px, -4px) rotate(-1deg); opacity: 0.3; }
  80% { -webkit-transform: translate(12px, 13px) rotate(6deg); opacity: 0.3; }
  90% { -webkit-transform: translate(14px, 0px) rotate(8deg); opacity: 0.4; } }

@-ms-keyframes shake-crazy { 0% { -ms-transform: translate(0px, 0px) rotate(0deg); opacity: 0.8; }
  10% { -ms-transform: translate(-15px, 0px) rotate(-10deg); opacity: 0.4; }
  20% { -ms-transform: translate(-3px, 13px) rotate(7deg); opacity: 0; }
  30% { -ms-transform: translate(8px, 4px) rotate(6deg); opacity: 0; }
  40% { -ms-transform: translate(9px, -17px) rotate(0deg); opacity: 0.5; }
  50% { -ms-transform: translate(6px, 1px) rotate(-4deg); opacity: 0.6; }
  60% { -ms-transform: translate(-1px, 7px) rotate(-9deg); opacity: 0.1; }
  70% { -ms-transform: translate(-6px, 6px) rotate(-6deg); opacity: 0; }
  80% { -ms-transform: translate(-11px, -2px) rotate(-1deg); opacity: 0.8; }
  90% { -ms-transform: translate(-5px, 10px) rotate(4deg); opacity: 0.5; } }

@keyframes shake-crazy { 0% { transform: translate(0px, 0px) rotate(0deg); opacity: 0.6; }
  10% { transform: translate(18px, 9px) rotate(3deg); opacity: 0.3; }
  20% { transform: translate(-15px, -19px) rotate(0deg); opacity: 0.8; }
  30% { transform: translate(-5px, -2px) rotate(-4deg); opacity: 0.9; }
  40% { transform: translate(-19px, -18px) rotate(-2deg); opacity: 0.1; }
  50% { transform: translate(11px, 8px) rotate(4deg); opacity: 0; }
  60% { transform: translate(9px, 0px) rotate(-4deg); opacity: 0.6; }
  70% { transform: translate(-13px, 6px) rotate(-1deg); opacity: 0.8; }
  80% { transform: translate(12px, 17px) rotate(3deg); opacity: 0.9; }
  90% { transform: translate(11px, 13px) rotate(7deg); opacity: 0.1; } }

  /*Banner Animation*/
